<html>

	<head>
	<meta charset="utf-8">
	<tittle></tittle>
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	</head>

	<body>
	<div clas="container">

	<header>
		<h1 class="logo">Disaster Recovery</h1>
	</header>

	<main>
		<div class="align-profile">
			<h4>Question</h4>
			<button onclick="window.location.href = 'https://www.google.co.uk';">Answer 1</button>
			<button>Answer 2</button>
			<button>Answer 3</button>

		</div>
		
		<div class="align-contact">
			<p>timer</p>
			<pScore</p>
		</div>
		<div class="align-image">
			<img src="http://www.projectmapping.co.uk/Reviews/Resources/UK%20map.jpeg"/>
		</div>
	</main>

	</div>
</body>
</html>
			
