<!DOCTYPE html>

<html>

<head>

<style>

body {

  background-color: #252525;

}

 

h1 {

  color: #d1dbdd;

  text-align: center;

  font-size: 140px;

  font-family: Century Gothic;

}

 

button {

  position: relative;

  background-color: #5514B4;

  border: 12px solid #d1dbdd;

  font-size: 50px;

  font-family: Century Gothic Bold;

  font-style: Bold;

  color: #d1dbdd;

  width: 400px;

  height: 200px;

  left: 43%;

  margin-top: 0px;

  margin-left: -100px;

  text-align: center;

}

 

 

</style>

</head>

<h1>DISASTER RECOVERY</h1>

<body>

 

<button onclick="window.location.href = 'http://localhost:3000/game/login';">START GAME</button>

 

 

</body>

</html>
