<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

body {

  background-color: #252525;

}

 

 

h1 {

  color: #d1dbdd;

  text-align: center;

  font-size: 140px;

  font-family: Century Gothic;

}

 

form {

    background-color: #252525;

    font-family: Century Gothic;

}

 

input[type=text] {
  width: 80%;

  padding: 20px 18px;

  margin: 8px 0;

  display: inline-block;
  font-size: 20px;
  width: 77.5%;
  height: 50px;
  left: 15%;
  margin-top: 0px;
  margin-left: 146px;
}

button {

  position: relative;
  background-color: #5514B4;
  border: 8px solid #d1dbdd;
  font-size: 50px;
  font-family: Century Gothic Bold;
  font-style: Bold;
  color: #d1dbdd;
  width: 80%;
  height: 100px;
  left: 15%;
  margin-top: 20px;
  margin-left: -100px;
  text-align: center;
}

 

.cancelbtn {

  position: relative;

  background-color: #5514B4;

  border: 8px solid #d1dbdd;

  font-size: 50px;

  font-family: Century Gothic Bold;

  font-style: Bold;

  color: #d1dbdd;

  width: 300px;

  height: 100px;

  left: 15%;

  margin-top: 100px;

  margin-left: -100px;

  text-align: center;

}

 

.imgcontainer {

  text-align: center;

  margin: 24px 0 12px 0;

}

 

img.avatar {

  width: 40%;

  border-radius: 50%;

}

 

.container {

  padding: 16px;

  color: #d1dbdd;

  font-family: Century Gothic Bold;

  font-size: 30px;

}

 

 

 

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {

  span.psw {

     display: block;

     float: none;

  }

  .cancelbtn {

     width: 30%;

  }

}

</style>

</head>

<body>

<h1>DISASTER RECOVERY</h1>

 

<form action="/action_page.php" method="post">

  <div class="imgcontainer">

  

  </div>

 

  <div class="container">
    <input type="text" placeholder="Enter Name" name="uname" required>

    <button type="submit">SUBMIT</button>

    <label>

    </label>

  </div>

 

  <div class="container" style="background-color:#252525">

    <button onclick="window.location.href = 'http://localhost:3000/game/index';">BACK</button>

  </div>

</form>

 

</body>

</html>
