<!DOCTYPE html>
<html>
<head>
<style>

body{
  background-color: #252525;
}

h1 {
  font-family: "Century Gothic";
  font-size: 50px;
  color: #d1dbdd;
  text-align: center;
}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
 
img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.tittle,
.logo{
  height: auto;
  width: 12%;
}

.container {
  width: 100%;
  margin: auto;
}
 
.align-profile,
align-image,
.align-contact
{
   display: inline-block;
   vertical-align: top;
   width: 25%;
  color: #d1dbdd;
  font-weight: bold;
  letter-spacing: 0.3px;
  padding-left: 100;
}

.align-contact
{
  display: inline-block;
  margin-top: 44px;
}

.align-image{
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 40%;
  height: auto;
}

button1{
background-color: #5514B4;
color: #d1dbdd;
padding: 80px 200px;
font-family:Century Gothic;
border: 8px solid #d1dbdd;
margin: 10px;
position: absolute;
bottom: 43%;
}

button2{
  background-color: #5514B4;
  color: #d1dbdd;
  padding: 80px 200px;
  font-family:Century Gothic;
  border: 8px solid #d1dbdd;
  margin: 10px;
  position: absolute;
  bottom: 22%;
}

button3{
  background-color: #5514B4;
  color: #d1dbdd;
  padding: 80px 200px;
  font-family:Century Gothic;
  border: 8px solid #d1dbdd;
  margin: 10px;
  position: absolute;
  bottom: 1%;
}
</head>

</style>
<body>
        <h1> DISASTER RECOVERY</h1>
      <main>
        <div class="align-profile">

          <button1>Answer 1</button1>
          <button2>Answer 2</button2>
          <button3>Answer 3</button3>
        </div>
        <div class="align-image">
        <img src="http://www.projectmapping.co.uk/Reviews/Resources/UK%20map.jpeg"/>
        </div>
      </main>
    </div>

  </body>
</html>
